@page "/bitcoin"

@using crypto_sentiment.Data
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using crypto_sentiment.Models;
@inject CryptoDbService cryptoDbService
@inject TweetAPIService tweetAPIservice
@inject Microsoft.EntityFrameworkCore.IDbContextFactory<CryptoDbContext> contextFactory;


@if (btcList == null)
{
    <div class="spinner-border text-dark"></div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1">
                <h3>Bitcoin</h3>
                <br />
                <p>@btcList.First().symbol</p>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1">
                 <h3>Current Price</h3>
                 <br />
                 <p>@btcList.First().currPrice</p>   
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1">
                <h3>Market Cap</h3>
                <br />
                <p>@btcList.First().marketCap</p>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-0 col-md- offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1">
                <h3>Sentiment</h3>
                <br />
                <p>10</p>
            </div>
            <div class="col-lg-6 offset-lg-0 col-md-6 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1">
                <h3>Last Updated</h3>
                <br />
                <p>@btcList.First().date</p>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>CryptoID</th>
                <th>Symbol</th>
                <th>Current Price</th>
                <th>Market Cap</th>
                <th>Slug</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cryptoData in btcList)
            {
                <tr>
                    <td>@cryptoData.date.ToShortDateString()</td>
                    <td>@cryptoData.cryptoID</td>
                    <td>@cryptoData.symbol</td>
                    <td>@cryptoData.currPrice</td>
                    <td>@cryptoData.marketCap</td>
                    <td>@cryptoData.slug</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {

    private List<CryptoData> btcList;

    protected override async Task OnInitializedAsync()
    {
        using (var context = contextFactory.CreateDbContext())
        {
            btcList= await context.Currencies.Where(x => x.currPrice > 32000).OrderByDescending(s => s.date).ToListAsync();
        }
                
        Console.WriteLine(btcList.Count);

    }


}
